:root {
  /* ### Primary */

  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Black-blue: hsl(234, 17%, 12%);
}

.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.hero {
  height: 100%;
  width: 100vw;
  position: relative;
  background: #251f2c;
  background: linear-gradient(0deg, #251f2c, #1e1e28);
  display: flex;
}

.pattern-overlay {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/bg-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.pattern-hills-box {
  background-image: url("./images/pattern-hills.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
}

.socials-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
}

.socials-inner-wrapper {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.social-icon {
  width: 20%;
}

.social-icon:hover {
  filter: brightness(0) saturate(100%) invert(63%) sepia(16%) saturate(3664%)
    hue-rotate(302deg) brightness(93%) contrast(91%);
}

@media (min-width: 768px) {
  .count-down-outer {
    width: 70%;
    /* Add any additional styles for desktop view */
  }

  .socials-inner-wrapper {
    width: 10%;
  }
}
